* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    width: 50%;
}

/*#salesContainer{*/
/*    display: block;*/
/*    margin-right: 400px;*/
/*}*/

h1 {
    text-align: center;
    color: #333;
}

.medicineTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#medicineTable th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.medicineTable thead th{
    font-weight: bold;
    color: white;
    background-color: #3468C0;

}


.fo-rm form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input {
    width: 50px;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 12px 18px;
    background-color: #3468C0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2a577f;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding: 10px 65px;

}

.search-input {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(2, 2, 2, 0.1);

}

#myModal #remark{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

#myModal button{
    margin: 10px 0px 0px 247px;

}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-form {
    /*display: flex;*/
    flex-direction: column;
}

.qty-dis{
    margin: 10px;
    display: flex;
    flex-direction: column;

}

/*.qty-dis input{*/
/*    width: 70px;*/
/*}*/
.rmk-proc{

}
.modal-form label {
    margin-bottom: 8px;
}

.modal-form input,
.modal-form select {
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 250px;;
}

.modal-form button {
    padding: 10px;
    background-color: #3468C0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 250px;

}

.modal-form button:hover {
    background-color: #2a577f;
}

.sales-medicine-text {
    color: #3468C0;
    text-align: left;
}

/*Pagination*/
.page-info{
    margin: 15px 0;
    font-size: 14px;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.pagination a{
    font-size: 14px;
    text-decoration: none;
    border: 2px solid #3468C0;
    border-radius: 10px;
    width: 70px;
    /*height: 30px;*/
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination a:hover{
    border: 2px solid #3468C0;
}

.pagination .page-numbers{
    display: flex;
    gap: 5px;
}

.active{
    background-color: #3468C0;
    /*border: 2px solid #3468C0;*/
    color: white;
}

/*.Footer{*/
/*    text-align: center;*/
/*    align-items: center;*/
/*    width: auto;*/
/*    padding: 20px;*/
/*    border-top: 1px solid rgb(46, 29, 122);*/
/*    margin: 20px;*/
/*}*/
/*.Footer b{*/
/*    color: #3468C0;*/
/*}*/


/*!*For print bill*!*/

/*!*body {*!*/
/*!*    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*!*/
/*!*    font-size: 16px;*!*/
/*!*    color: #444;*!*/
/*!*    background-color: #f4f4f4;*!*/
/*!*    width: 50%;*!*/
/*!*}*!*/

/*.container {*/
/*    width: 50%;*/
/*    margin: 20px auto;*/
/*    background-color: #fff;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.header {*/
/*    background-color: #3468C0;*/
/*    color: #fff;*/
/*    padding: 5px;*/
/*    text-align: center;*/
/*}*/

/*.header h1 {*/
/*    font-size: 36px;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.header p {*/
/*    font-size: 18px;*/
/*    margin-bottom: 0;*/
/*}*/

/*.bill-body {*/
/*    padding: 20px;*/
/*}*/

/*.form-group {*/
/*    margin-bottom: 5px;*/
/*}*/

/*.form-label {*/
/*    display: block;*/
/*    font-size: 18px;*/
/*    margin-bottom: 10px;*/
/*    color: #333;*/
/*}*/

/*.form-input {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border: 1px solid #ddd;*/
/*    font-size: 16px;*/
/*    border-radius: 5px;*/
/*}*/

/*.btn-group {*/
/*    margin-top: 20px;*/
/*    text-align: right;*/
/*}*/

/*.btn {*/
/*    padding: 10px 20px;*/
/*    background-color: #3468C0;*/
/*    color: #fff;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*    transition: background-color 0.3s;*/
/*}*/

/*.btn:hover {*/
/*    background-color: #204080;*/
/*}*/

/*.bill-table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*    margin-top: 20px;*/
/*}*/

/*.bill-table th, .bill-table td {*/
/*    border: 1px solid #ddd;*/
/*    padding: 15px;*/
/*    text-align: center;*/
/*}*/

/*.bill-table th {*/
/*    background-color: #3468C0;*/
/*    color: #fff;*/
/*}*/

/*.bill-total {*/
/*    font-weight: bold;*/
/*    text-align: right;*/
/*    padding-top: 10px;*/
/*}*/

/*.hidden {*/
/*    display: none;*/
/*}*/

/*#openPrinting{*/
/*    background-color: rgba(0, 0, 0, 0.4);*/
/*    position: absolute;*/
/*    top: 0;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.openPrinting-popup{*/
/*    background-color: white;*/
/*    width: 100vw;*/
/*    height: auto;*/
/*    padding: 20px;*/
/*    position: relative;*/
/*}*/